/* Контентна частина */
.content-section h1 { font-size: 90px; letter-spacing: 8px; margin-top: 15%; }
.content-section h2 { margin-top: 2em; }
.content-section hr { height: 5px; width: 15%; background: $yellow-color; border: none; margin: 4% 0; opacity: 0.8; }
.lead-text { font-size: 28px; letter-spacing: 6px; margin-bottom: 15%; }