/* Блоки інформації */
.contact-block h3, .education-block h3, .experience-block h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.3em;
}
.education-block h3, p { color: #464646; }
.experience-block h3 { color: #555555; }
.contact-block p, .education-block p { font-size: 17px; margin: 0; }
.experience-block p {
  color: #707070;
  font-size: 20px;
  margin-bottom: 1.5em;
}
.experience-block-time {
  background: #ffca05;
  color: #f1f1f1;
  border-radius: 6px;
  padding: 2px 10px;
  font-size: 16px;
  display: inline-block;
}
.experience-about { margin-top: -1em; }