/* Кола навичок */
.skills { gap: 40px; justify-content: center; }
.circle {
  --size: 120px; --track: #f1f1f1; --fill: #FFCA05FF; --percent: 75;
  width: var(--size); height: var(--size); border-radius: 50%;
  background: conic-gradient(from 90deg, var(--track) calc(100% - var(--percent) * 1%), var(--fill) 0);
  display: flex; justify-content: center; align-items: center; position: relative;
}
.circle::after {
  content: ""; position: absolute; width: calc(var(--size) - 20px);
  height: calc(var(--size) - 20px); background: #f1f1f1; border-radius: 50%;
}
.circle span {
  position: relative; z-index: 1; text-align: center;
  font-size: 14px; font-weight: 500; width: 70%;
}
.toggle-header {
  cursor: pointer; // Вказує, що елемент клікабельний
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Стиль для стрілки
  .toggle-arrow {
    transition: transform 0.3s ease;
    font-size: 0.6em; // Робимо стрілку меншою за заголовок
    color: #555;
  }

  // Клас, що обертає стрілку
  .toggle-arrow.rotated {
    transform: rotate(-90deg);
  }
}

// Клас, що приховує контент
.toggle-content.collapsed {
  display: none;
}
