@use "for_all.scss";
/* Інтерактивні елементи */
@use "interactive.scss";

/* Ліва частина */
@use "../html/Components/sidebar/sidebar";

/*  Права частина */
@use "../html/Components/main/about";
@use "../html/Components/main/education";
@use "../html/Components/main/expirience";
@use "../html/Components/main/expertise";
