@use "for_all.scss";

$yellow-color: #ffca05;
$white-color: #f1f1f1;

/* Ліва частина */
@use "sidebar.scss";

/* Блоки інформації */
@use "info.scss";

/* Кола навичок */
@use "skills.scss";

/* Контентна частина */
@use "content_section.scss";

/* Інтерактивні елементи */
@use "interactive.scss";