// Colors
$yellow-color: #ffca05;
$black-color: #22222d;
$dark-gray-color: #464646;
$gray-color: #555555;
$lite-gray-color: #707070;
$white-color: #f1f1f1;

// Fonts
$font-base-family: "Poppins", sans-serif;
$font-heading-family: "Bebas Neue", sans-serif;
