<!-- Права частина -->
<div class="col-md-6 content-section ps-5">
  <h1 id="personName"></h1>

  <hr style="height: 5px" />
  <p class="lead-text">UI DESIGNER</p>

  <div class="toggle-section">
    <h2 class="toggle-header">
      CONTACT INFO_
      <span class="toggle-arrow">▼</span>
    </h2>
    <div class="toggle-content">
      <div class="row gx-4 mb-5">
        <div class="col-4 contact-block">
          <h3>PHONE</h3><p>+000 123 456 789</p>
        </div>
        <div class="col-4 contact-block">
          <h3>EMAIL</h3><p>urname@gmail.com</p>
        </div>
        <div class="col-4 contact-block">
          <h3>AREA</h3><p>Your Street Here</p>
        </div>
      </div>
    </div>
  </div>