<h2>EXPERIENCE_</h2>
<div class="experience mb-5">
  <div class="experience-block">
    <h3>Enter Job Position Here</h3>
    <p><span class="experience-block-time">Present</span> Company / Location</p>
    <p class="experience-about">Lorem ipsum dolor sit amet, this is a thena consectetur adipisicing
      elit, sed do eiusmod tempor incididunt ut labore</p>
  </div>
  <div class="experience-block">
    <h3>Enter Job Position Here</h3>
    <p><span class="experience-block-time">2017–2019</span> Company / Location</p>
    <p class="experience-about">Lorem ipsum dolor sit amet, this is a thena consectetur adipisicing
      elit, sed do eiusmod tempor incididunt ut labore</p>
  </div>
</div>