@use "../../../scss/variables" as *;
.education-block h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.3em;
}

.education-block h3, p { color: $dark-gray-color; }

.education-block p { font-size: 17px; margin: 0; }
